@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: URL(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    display: inline;
    font-family: 'Roboto Condensed', sans-serif;

}

.header_bg {
    background-image: url("background3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.logotype {
    height: 15vh;
    
}

header>nav {
    text-align: center;
    font-size: 25px;
    background-color: #1a1a1a;
    display:flex;
    justify-content: space-around;
    height: 4vh;
}
.button {
    color: #fff;
    border: 1px #ffffff solid;
    padding: 10px;
    width: fit-content;
    align-self: flex-end;
    background: inherit;
}

.button:hover {
    background: #fff;
    color: rgb(0, 0, 0);
}
a{ 
    display:inline-block;
    color: white;
    background-color: #272727;
    padding: 1px 32px;
    text-decoration:none;
}

h1 {
    background-color: rgba(29, 29, 29, 0.5);
    font-size: 50px;
    padding: 25px 10%;
    margin: 50px 100px;
    display: line;
    text-align: center;
}

.page_one_project_two {
    background-color: rgba(29, 29, 29, 0.5);
    font-size: 30px;
    padding: 50px 10%;
    margin: 50px 100px;
    display: line;
    text-align: center;
}

.page_one_project_three {
    background-color: rgba(29, 29, 29, 0.5);
    font-size: 30px;
    padding: 50px 10%;
    margin: 100px 100px;
    display: line;
    text-align: center;
}
.article_image_1a{
    width: 25%;
    margin: 35px;
}
.article_image_1b{
    width: 25%;
    margin: 35px;
}
.page_one_project_for {
    background-color: rgba(29, 29, 29, 0.5);
    font-size: 30px;
    padding: 50px 10%;
    margin: 100px 100px;
    display: line;
    text-align: center;
}

.article_image_2a{
    width: 25%;
    margin: 30px;
}

.article_image_2b{
    width: 25%;
    margin: 30px;
}

#final {
    padding:5% 30%;
    background-image: url(background4.png);
    background-attachment: fixed;
    background-size: cover;
    margin:0%;
}

#final>div {
    padding: 10px;
    background-color: rgb(59, 59, 59);
    font-size:30px;
    text-align: center;
    border: 4px solid black;
    color: rgb(255, 255, 255);
    margin:0%;
    border-radius: 10px;
}

.end {
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,90%);
    margin:0%;
    
}

footer {
    margin:0%;
}

ul {
    background-color: rgba(29, 29, 29, 0.5);
    font-size: 15px;
    padding: 50px 10%;
    margin: 100px 100px;
    display: line;
    text-align: center;
}

h1{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: anim1;
}

@keyframes anim1 {
    0%{
        transform:scale(0%);
    }
    100%{
        transform:scale(100%);
    }
}
article{
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-name: anim2;
}

@keyframes anim2 {
    0%{
        transform:scale(25%);
    }
    100%{
        transform:scale(100%);
    }
}